@mixin ellipsis($line: 1){
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @if $line > 1 {
        display: -webkit-box;
        -webkit-line-clamp: $line;
        -webkit-box-orient: vertical;
    }
}