---
const { title , url, pubDate, description } = Astro.props;
---

<li class="post">
    <a class="post__link" href={url}>
        <div>{title}</div>
        <div>{description}</div>
        <div>{pubDate.slice(0, 10)}</div>
    </a>
</li>

<style>
    .post__link {
        display: block;
        width: 100%;
        padding: 0.5rem;
        border: 1px solid var(--color-foreground);
        border-radius: 0.5rem;
        aspect-ratio: 4 / 3;
    }
</style>