---
---

<footer>
    <address>© 2024. <a class="link" href="https://github.com/FE4902">juhong</a> all rights reserved.</address>
</footer>

<style>
    footer {
        text-align: center;
        padding: 2rem 1rem 4rem;
    }
</style>