---
---

<div class="giscus">
        <script src="https://giscus.app/client.js"
                data-repo="FE4902/Blog"
                data-repo-id="R_kgDOKQpIuA"
                data-category="Announcements"
                data-category-id="DIC_kwDOKQpIuM4Cd5wU"
                data-mapping="pathname"
                data-strict="0"
                data-reactions-enabled="1"
                data-emit-metadata="0"
                data-input-position="bottom"
                data-theme="preferred_color_scheme"
                data-lang="ko"
                crossorigin="anonymous"
                async>
        </script>
</div>

<style lang="scss">
        .giscus {
                padding-top: 2rem;
        }
</style>