---
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
    <nav class="nav">
        <div class="nav-links">
            <a class="nav-link" href="/">Home</a>
        </div>
        <ThemeIcon />
    </nav>
</header>

<style lang="scss">
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
    }

    .nav-links {
		display: flex;
		gap: 0.5rem;
		margin-right: auto;
	}

	.nav-link {
		font-weight: var(--weight-bold);

		&:hover {
			color: var(--color-primary);
		}
	}
    
    .logo{
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
        letter-spacing: -0.025rem;
        line-height: 1;
    }
</style>