---
const { tags } = Astro.props;
---

<ul class="tag__list">
    {tags.map((tag) => <li class="tag__item"><a href={`/tags/${tag}`}>{tag}</a></li>)}
</ul>

<style>
    .tag__list {
        display: flex;
        flex-wrap: nowrap;
        gap: 0.5rem;
        overflow-x: auto;
        scrollbar-width: thin;
        scrollbar-color: var(--color-background) var(--color-foreground);
        padding: 0.5rem 0;
    }

    .tag__item {
        flex-shrink: 0;
        list-style-type: none;
        padding: 0.25rem 0.5rem;
        color: var(--color-background);
        background-color: var(--color-foreground);
        border-radius: var(--radius-small);
    }
</style>