---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import "@/styles/global.scss";

const { pageTitle } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Devlog : {pageTitle}</title>
        <link
            rel="stylesheet"
            as="style"
            crossorigin
            href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css"
        />
    </head>
    <body>
        <div class="wrap">
            <Header />
            <main>
                <slot />
            </main>
            <Footer />
        </div>
    </body>
</html>

<style lang="scss">
    .wrap {
        max-width: var(--width-container);
        width: calc(100% - 2rem);
        margin: 0 auto;
    }
</style>
